<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登陆页面</title>
</head>
	<body>
		<div id="content">
			<div id="form">
				<h1>用户登陆</h1><br/>
				<form id="myform" >
					用户名<input type="text" id="username" name="username" style="width:190px;height:26px;margin-left: 39px"/><span id="username_span"></span><br/>
					密码<input type="password" id="password" name="password" style="width:190px;height:26px;margin-top: 8px;margin-left: 54px"/><span id="password_span"></span><br/>
					<input type="button" value="登录"  id="login" style="width: 50px;height: 30px;margin-top: 8px"/>
					<a href="toRegister">注册</a>
				</form>
			</div>
		</div>
	</body>
	<script src="../static/js/jquery-min.js" th:src="@{/js/jquery-min.js}"></script>
	<script th:src="@{/js/path.js}"></script>
	<script th:src="@{/js/user/login.js}"></script>
	<script type="text/javascript">
	/*绑定登陆点击事件  */
	$(function(){
		$("#login").click(userLogin);
	});

	</script>
</html>