<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>货物管理</title>
<style>
	*{margin: 0;padding: 0;}
	#menuContent a{text-decoration: none;color: #ffffff}
	.c{
		border-style: solid;width:300px; height:130px; margin:4 23 0 23; border-radius: 5;display: block;
		background-color: #fff; margin:10% auto;
	}
	.mask{
		width:100%;height:100%; position: absolute; background:rgba(0,0,0,.3);display: none;
	}
</style>
</head>
<body>
	<div th:include="/pages/menu :: headmenu"></div><br/>
	<form>
		名称：<input type="text" id="fruitName" name="fruitName" style="width:120px"/>
		产地：<input type="text" id="locality" name="locality" style="width:120px"/>
		价格：<input type="number" id="minPrice" name="minPrice" step="0.1" min="0.0"  style="width:120px"/>
		-<input type="number" id="maxPrice" name="maxPrice" step="0.1" min="0.0" style="width:120px"/><br/><br/>
		开始时间：<input type="date" name="startTime" id="startTime">
		结束时间：<input type="date" name="endTime" id="endTime" th:max="${#dates.format(new java.util.Date().getTime(),'yyyy-MM-dd')}">
		<input type="button" id="search" value="搜索" style="background-color: #173e65;color: #ffffff;width: 70px;">
	</form>
	<hr style="margin-top: 10px">
	<button onclick="showAddMask('true')" style="background-color: #173e65; color: #ffffff;width: 70px;">添加</button>
	<div id="result">
	
	</div>
	<div style="margin-top: 10px">
	<a>上一页</a><a>下一页</a>
	<input type="text" id="pageNumber" style="width: 50px;"><button>go</button>
	</div>
	<div class="addMask">
		<div class="c">
			<div style="background-color: #173e65;height:20px; color:#fff;font-size:12px;padding-left:7px">
			添加信息<font style="float: right;padding-right: 10px;" onclick="showAddMask('false')">x</font>
			</div>
			<form id="addForm">
			名称：<input type="text" id="addFruitName" name="name" style="width:120px"/><span id="addFruitName_span" style="color: red;"></span><br/>
			价格：<input type="number" min="0.0" step="0.1" id="addPrice" name="price" style="width:120px"/><span id="addPrice_span" style="color: red;"></span><br/>
			产地：<input type="text" id="addLocality" name="locality" style="width:120px"/><span id="addLocality_span" style="color: red;"></span><br/>
			<input type="button" id="addCommodities" value="添加" style="background-color: #173#e65;color: #ffffff; width:70px"/>
			</form>
		</div>
	</div>
	<div class="mask">
		<div class="c">
			<div style="background-color: #173e65;height:20px; color:#fff;font-size:12px;padding-left:7px">
			修改信息<font style="float: right;padding-right: 10px;" th:onclick="cancelEdit()">x</font>
			</div>
			<form id="editForm">
			名称：<input type="text" id="editName" name="name" style="width:120px"/><br/>
			价格：<input type="number" id="editPrice" name="price" style="width:120px"/><br/>
			产地：<input type="text" id="editLocality" name="locality" style="width:120px"/><br/>
			<input type="hidden" name="fruitId" id="fruitId" />
			<input type="hidden" name="startPage" id="eStartPage" />
			<input type="hidden" name="currentPage" id="eCurrentPage" />
			<input type="hidden" name="pageSize" id="ePageSize" />
			<input type="button" id="editFormSubmit" value="提交" style="background-color: #173#e65;color: #ffffff; width:70px"/>
			</form>
		</div>
	</div>
</body>
<script src="../../static/js/jquery-min.js" th:src="@{/js/jquery-min.js}"></script>
<script th:src="@{/js/path.js}"></script>
<script th:src="@{/js/commodities/home.js}"></script>
<script type="text/javascript">
$(function(){
	/*设置开始时间必须小于等于结束时间  */
	$("#startTime").change(function(){
		$("#endTime").attr("min",$("#startTime").val());
	});
	$("#endTime").change(function(){
		$("#startTime").attr("max",$("#endTime").val());
	});
	/*设置最小价格必须小于等于最大价格  */
	$("#minPrice").change(function(){
		$("#maxPrice").attr("min",$("#minPrice").val());
	});
	$("#maxPrice").change(function(){
		$("#minPrice").attr("max",$("#maxPrice").val());
	});
	$("#search").click(findCommodities);
	$("#editFormSubmit").click(editFormSubmit);
	$("#addCommodities").click(addCommodities);
	findAll();
	showAddMask(false);
});
</script>
</html>